<section class="comment-container">
  <article class="comment-header">
    <p class="commented-by">posted by {{user.name}} at {{time_created}}</p>
  </article>
  <article class="comment-body">
    <p>{{comment}}</p>
  </article>
</section>